#brand
{
  margin-left: 20px;
  color: #ADEFD1FF !important;
}

.nav-link
{
  color: #ADEFD1FF !important;
  border: none;
}

.nav-link:hover
{
  color: rgb(212, 245, 230) !important;
  border: none;
}

.active
{
  color: rgb(212, 245, 230) !important;
  border-bottom: 2px solid #ADEFD1FF;
  padding-bottom: -2px;
}

.error
{
  color: red;
}

nav
{
  margin-bottom: 50px !important;
  border-bottom: 3px solid #ADEFD1FF;
  background-color: #00203FFF !important;
}

.btn-primary
{
  background-color: #ADEFD1FF;
  color: #00203FFF;
  border: none;
}

.btn-primary:hover
{
  background-color: #00203FFF;
  color: #ADEFD1FF;
}

.form-control
{
  border-color: #00203FFF;
}